body {
  background-color: #A7C9FE;
}

p {
  color: black;
  line-height: 2.5;
}

h1 {
  font-family: "Times New Roman";
  font-size: 75 px;
  color: #6600CC;
}

h2 {
  font-family: "Times New Roman";
  font-size: 50 px;
  color: #6600CC;
}

nav {
  background-color: #222;
}

nav a {
  color: #55d6aa;
  font-size: 16;
  text-decoration: none;
}

nav li {
  display: inline-block;
  margin-left: 80 px;
  padding-top: 20 px;
}

nav a:hover {
  font-style: italic;
}
