body {
  background-color: #A7C9FE;
}

p {
  color: black;
  line-height: 2.5;
}

h1 {
  font-family: "Times New Roman";
  font-size: 75 px;
  color: #6600CC;
}

h2 {
  font-family: "Times New Roman";
  font-size: 50 px;
  color: #6600CC;
}

